.nav-menu-links {
    @apply .text-orange .fixed .pin-y .pin-r .z-50 .bg-black-alpha-95 ;
    box-shadow: 10px 0 25px 0 rgba(255, 255, 255, 0.5);
    @media screen and (min-width:576px) {
        box-shadow: none;
        @apply .bg-transparent ;
    }
}

.nav-link {
    @apply .mx-6 .py-2 .uppercase .tracking-wide .text-sm ;
    @media screen and (min-width:576px) {
        @apply .relative ;
        &:after, &:before {
            content: '';
            height: 1px;
            width: 0px;
            @apply .absolute .bg-orange ;
            transition: all 0.4s ease-in;
        }
        &:after {
            @apply .pin-b .pin-r ;
        }
        &:before {
            @apply .pin-t .pin-l ;
        }
    }
    &:hover {
        @apply .text-orange-light ;
        &:after, &:before {
            @apply .w-full;
        }
    }
}

.nav-wrapper {
    @apply .bg-transparent .relative .z-40 .pb-4 .pt-8 ;
    transition: all 0.7s;
    &.nav-fixed {
        @apply .py-2 .bg-black-alpha-95 ;
    }
}