.blog-post {
    .blog-post-content {
        @apply font-sans text-lg leading-normal antialiased flex flex-col;
        h1, h2, h3, h4, h5, h6 {
            @apply font-semibold;
        }
        h1 {
            @apply my-8;
        }
        h4, h5, h6 {
            @apply my-4;
        }
        h2, h3 {
            @apply my-6 relative cursor-pointer;
            &::before {
                content: '#';
                @apply hidden mr-1 text-primary absolute;
                transform: translateX(-130%);
            }
            &:hover::before {
                @apply inline-block;
            }
        }
        p, ul, ol {
            &:not(:last-child) {
                @apply mb-4;
            }
        }
        a{
            @apply relative leading-tight;
            &::after {
                content: '';
                z-index: -1;
                bottom: 2px;
                @apply w-full;
                @apply absolute pin-x bg-primary-lighter h-2;
            }
        }
        :not(pre) > code {
            @apply bg-grey-light rounded p-1 text-xs;
        }
        pre {
            @apply font-mono text-sm p-4 rounded my-4 overflow-auto;
        }
        hr {
            @apply my-12 text-center text-black border-0;
            &::after {
                content: '* * *';
                letter-spacing: .5em;
                margin-left: .5em;
                top: -.5em;
                @apply text-xl font-bold relative;
            }
        }
    }
}